.dropdown {
    position: relative;
    
    &--button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        background-color: $color-primary;
        color: $color-white;
        padding: 1rem 2rem;
        border-radius: 4px;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
        transition: all .3s;
        min-width: 17rem;
        z-index: 21;
        
        &:hover {
            background-color: darken($color-primary, $amount: 5%); 
        }

        &-secondary {
            background-color: $color-secondary;
            &:hover {
                background-color: darken($color-secondary, $amount: 5%);
            }
        }
        
        &-success {
            background-color: $color-success;
            &:hover {
                background-color: darken($color-success, $amount: 5%);
            }
        }
        
        &-warning {
            background-color: $color-warning;
            &:hover {
                background-color: darken($color-warning, $amount: 5%);
            }
        }
        
        &-danger {
            background-color: $color-error;
            &:hover {
                background-color: darken($color-error, $amount: 5%);
            }
        }

        &--icon {
            margin-left: 1rem;
            font-size: 1.6rem;
        }
    }

    &--button:hover + &--hint {
        opacity: 1;
    }

    &--hint {
        position: absolute;        
        user-select: none;
        color: $color-white;
        background-color: $color-grey-3;
        opacity: 0;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 4px;        
        white-space: nowrap;
        padding: 0.5rem 1rem;
        z-index: 19;
        transition: all .2s;

        &-left {
            top: 50%;
            left: 0;
            transform: translate(calc(-100% - 1rem), -50%);
        }
        &-right {
            top: 50%;
            right: 0;
            transform: translate(calc(100% + 1rem), -50%);
            
        }
        &-top {
            top: 0;
            left: 50%;
            transform: translate(-50%, calc(-100% - 1rem));            
        }
        &-bottom {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, calc(100% + 1rem));
        }
    }

    &--options {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + 1rem));
        flex-direction: column;
        display: flex;
        min-width: 20rem;
        border-radius: 4px;
        overflow: hidden;
        z-index: 20;
        background-color: $color-grey-3;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

        &--search {
            background-color: $color-white;
            border: 0;
            color: $color-grey-3;
            font-size: 1.6rem;
            font-size: 600;
            padding: 1rem 1.75rem; 
            transition: all .3s;
            overflow-x: hidden;
            border-bottom: 5px solid $color-primary;

            &-secondary {
                color: $color-secondary;
            }
            
            &-success {
                color: $color-success;
            }
            
            &-warning {
                color: $color-warning;
            }
            
            &-danger {
                color: $color-error; 
            }  
        }

        &-top {
            bottom: unset;
            top: 0;
            transform: translate(-50%, calc(-100% - 1rem));
        }
        
        &-right {
            bottom: 50%;
            right: 0;
            left: unset;
            transform: translate(calc(100% + 1rem), 50%);
        }
        
        &-left {
            bottom: 50%;
            left: 0;
            right: unset;
            transform: translate(calc(-100% - 1rem), 50%); 
        }

        &--item {
            color: $color-white;
            user-select: none;
            font-size: 1.6rem;
            padding: 0.5rem 1.75rem; 
            transition: all .3s;
            cursor: pointer;
            overflow-x: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;

            &:hover {
                background-color: $color-primary; 
            }

            &-secondary {
                &:hover {
                    background-color: $color-secondary;
                }
            }
            
            &-success {
                &:hover {
                    background-color: $color-success;
                }
            }
            
            &-warning {
                &:hover {
                    background-color: $color-warning;
                }
            }
            
            &-danger {
                &:hover {
                    background-color: $color-error; 
                }
            }            
        }
    }
}