$color-primary:  #32ff7e;
$color-primary-dark:  #3ae374;

$color-secondary: #7d5fff;
$color-secondary-dark: #7158e2;

$color-success: #1abc9c;
$color-warning: #ffa704;
$color-error: #d80000;

$color-tertiary: #96afb8;
$color-tertiary-dark: #334a52;

$color-white: #fff;
$color-white-2: #f4f4f4;

$color-grey: #eee;
$color-grey-2: #777;
$color-grey-3: #333;

$font-primary: 'Raleway', sans-serif;